<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    {% block page_content %}
    {% endblock %}
            <div class="footer">
               <div class="contact_us">
                <h3>CONTACT US</h3>
                <p>132A Bridge Road Richmond VIC<br> Australia.<br><br>Talk to us on 1300 132<br>info@interior.com</p>
                </div>
                <div class="usef_info">
                    <h3>USEFUL INFORMATION</h3>
                    <table>
                    <tr>
                        <td><a href="#">SALES TERMS</a></td>
                        <td><a href="#">ARCHITECT ACCOUNTS</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">CUSTOMER CARE</a></td>
                        <td><a href="#">CAREERS</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">DELIVERY</a></td>
                        <td><a href="#">EXCHANGES AND RETURNS</a></td>
                    </tr>
                    </table>
                </div>
                <div class="stay">
                    <h3>Let’s Stay in Touch!</h3>
                    <p>Subscribe to know about our latest news, products and<br> special offers just for suscribers.</p>
                    <input type="text" placeholder="your email address">
                </div>
                <div class="clear"></div>
                <div class="bottom">
                <p>&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <img src="/static/img/social-links.png" alt="links">
                <p class="p2">Terms & Conditions  /  Privacy policy & Cookies</p>
                </div>
            </div>
    </div>
</body>

</html>