{% extends 'server/master.html' %}

{% block page_content %}
<body>
    <div class="container">
        <div class="header2">
            <a href="/"><img class="logo" src="/static/img/logo.png" alt="logo"></a>
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/products/">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="/contact/">CONTACTS</a></li>
            </ul>
        <div class="opr">
            <h1>Contact Us</h1>
        </div>
        </div>
    <div class="row_1">
                <div class="contact">
                    <img src="/static/img/icon1.png" alt="icon">
                    <h3>CALIFORNIA</h3>
                    <p class="headin">Phone:</p>
                    <p class="infoo">1900 - 1234 - 5678</p> 
                    <p class="headin">Email:</p>
                    <p class="infoo">info@interior.com</p>
                    <p class="headin">Adress:</p>
                    <p class="infoo">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="contact">
                    <img src="/static/img/icon1.png" alt="icon">
                    <h3>CALIFORNIA</h3>
                    <p class="headin">Phone:</p>
                    <p class="infoo">1900 - 1234 - 5678</p> 
                    <p class="headin">Email:</p>
                    <p class="infoo">info@interior.com</p>
                    <p class="headin">Adress:</p>
                    <p class="infoo">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
                <div class="contact">
                    <img src="/static/img/icon1.png" alt="icon">
                    <h3>CALIFORNIA</h3>
                    <p class="headin">Phone:</p>
                    <p class="infoo">1900 - 1234 - 5678</p> 
                    <p class="headin">Email:</p>
                    <p class="infoo">info@interior.com</p>
                    <p class="headin">Adress:</p>
                    <p class="infoo">12 W 1st St, 90001 Los Angeles, California</p>
                </div>
            </div>
            <div class="empty"></div>
    </div>
</body>
{% endblock %}