{% extends 'server/master.html' %}

{% block page_content %}
<body>
    <div class="container">
        <div class="header2">
            <a href="/"><img class="logo" src="/static/img/logo.png" alt="logo"></a>
            <ul class="menu">
                <li><a href="/">HOME</a></li>
                <li><a href="/catalog/">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="/contact/">CONTACTS</a></li>
            </ul>
                    <div class="opr">
            <h1>Our Products Range</h1>
        </div>
        </div>
        <div class="featured2">
            <ul>
                <li>All</li>
                <li>Home</li>
                <li>Office</li>
                <li>Furniture</li>
                <li>Modern</li>
                <li>Classic</li>
            </ul>
        </div>
        <div class="product_card">
            <div class="photo">
                <div class="main"><img src=img/slider1.jpg> </div>
                <div class="variants"><img src="/static/img/controll.jpg"> <img src="/static/img/controll11.jpg"> <img src="/static/img/controll2.jpg"></div>
            </div>
            <div class="description">
                <h1 class="item_name">Fishnet Chair</h1>
                <h3>HOT DEAL</h3>
                <h2>$ 36.7 /sq</h2>
                <p class="buy_button">ORDER US</p>
                <p class="text">The majesty of Mountains - Ugmonk style.
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus facere illum exercitationem aliquam. Ipsum, nisi.
                    <br>
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam vero consequuntur iusto facere architecto doloremque, vitae porro illo debitis tempore?
                    <br>
                    <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque enim eum quis molestiae recusandae, sint, porro, eos reprehenderit ipsa atque non commodi nihil, distinctio fuga.
                    </div>
            <div class="related_products">
                <h1>Related Products</h1><a class="explore_all" href="catalog.html">EXPLORE ALL</a>
                <ul class="products">
                    <li>
                        <a href="#"><img src="/static/img/product-5.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img src="/static/img/product-6.jpg"></a>
                    </li>
                    <li>
                        <a href="#"><img src="/static/img/product-7.jpg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
{% endblock %}
