<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header2">
            <a href="#"><img class="logo" src="img/logo.png" alt="logo"></a>
            <ul class="menu">
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">PRODUCTS</a></li>
                <li><a href="#">HISTORY</a></li>
                <li><a href="#">SHOWROOM</a></li>
                <li><a href="contact.html">CONTACTS</a></li>
            </ul>
                    <div class="opr">
            <h1>Our Products Range</h1>
        </div>
        </div>
        <div class="featured2">
            <ul>
                <li>All</li>
                <li>Home</li>
                <li>Office</li>
                <li>Furniture</li>
                <li>Modern</li>
                <li>Classic</li>
            </ul>
        </div>
         <div class="row_1_2">
                <a href="product_details.html"><img src="img/product-5.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-6.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-7.jpg" alt=""></a>
            </div>
            <div class="row_2_2">
                <a href="product_details.html"><img src="img/product-8.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-9.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-10.jpg" alt=""></a>
            </div>
             <div class="row_1_2">
                <a href="product_details.html"><img src="img/product-5.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-6.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-7.jpg" alt=""></a>
            </div>
            <div class="row_2_2">
                <a href="product_details.html"><img src="img/product-8.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-9.jpg" alt=""></a>
                <a href="product_details.html"><img src="img/product-10.jpg" alt=""></a>
            </div>
            <div class="clear"></div>
            <div class="marg"></div>
            <img src="img/load.png" alt="load" class="load">
            <div class="promo">
                <div class="promo_1">
                    <h3>Exclusive</h3>
                    <h2>Fishnet Chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam.<br>Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a class="button" href="product_details.html">Order US</a>
                </div>
                <div class="promo_2">
                    <h3>Exclusive</h3>
                    <h2>Fishnet Chair</h2>
                    <p>Seat and back with upholstery made of cold cure foam.<br>Steel frame, available in matt powder-coated black or highly polished chrome.</p>
                    <a class="button" href="product_details.html">Order US</a>
                </div>
            </div>
            <div class="footer">
               <div class="contact_us">
                <h3>CONTACT US</h3>
                <p>132A Bridge Road Richmond VIC<br> Australia.<br><br>Talk to us on 1300 132<br>info@interior.com</p>
                </div>
                <div class="usef_info">
                    <h3>USEFUL INFORMATION</h3>
                    <table>
                    <tr>
                        <td><a href="#">SALES TERMS</a></td>
                        <td><a href="#">ARCHITECT ACCOUNTS</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">CUSTOMER CARE</a></td>
                        <td><a href="#">CAREERS</a></td>
                    </tr>
                    <tr>
                        <td><a href="#">DELIVERY</a></td>
                        <td><a href="#">EXCHANGES AND RETURNS</a></td>
                    </tr>
                    </table>
                </div>
                <div class="stay">
                    <h3>Let’s Stay in Touch!</h3>
                    <p>Suscribe to know about our latest news, products and<br> special offers just for suscribers.</p>
                    <input type="text" placeholder="your email address">
                </div>
                <div class="clear"></div>
                <div class="bottom">
                <p>&copy; Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <img src="img/social-links.png" alt="links">
                <p class="p2">Terms & Conditions  /  Privacy policy & Cookies</p>
                </div>
            </div>
        </div>
</body>
</html>